name: Lint and Docker Test

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Lint
        run: npm run lint

      - name: Lint-Fix
        run: npm run lint-fix

      - name: Build
        run: npm run build

      - name: Test Docker build
        run: |
          sudo apt-get update
          sudo apt-get install -y docker.io

          docker build -t healthtrackpro .
          docker run -d -p 3000:80 healthtrackpro
